    <footer>
        <div class="footer-container">
            <div class="footer-content">
                <div class="footer-logo">
                    <h3><i class="fas fa-film"></i> MovieMania</h3>
                    <p>Your ultimate movie database</p>
                </div>
                <div class="footer-links">
                    <h4>Quick Links</h4>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/genres">Genres</a></li>
                        <li><a href="/all-movies">All Movies</a></li>
                    </ul>
                </div>
                <div class="footer-social">
                    <h4>Follow Us</h4>
                    <div class="social-icons">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <p>&copy; 2026 MovieMania. Created By Lucky Larendra.</p>
            </div>
        </div>
    </footer>

    <script src="/js/main.js"></script>
</body>
</html>